html {
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
  background-color: #eee;
  max-width: 100%;
}

#bgImg {
  position: absolute;
  object-fit: cover;
  height: 100vh;
  min-width: 100vw;
  max-width: 100%;
  top: 0;
  right: 0;
  z-index: -1;
}

#headline, .project, #about {
  padding: 0 1em;
}

#headline {
  height: 95vh;
  text-align: center;
  font-size: 1.4em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 5vh;
  color: white;
}

#headline h1 {
  margin: 0.2em 0;
}

.titleList {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin: .2em;
}

.titleList li {
  padding: 2%;
}

.titleList img {
  width: 1.5em;
  height: 1.5em;
}

.titleList img:hover {
  opacity: 0.5;
}

#about {
  font-size: 1em;
  margin: 4em 1em 6em;
}

.firstWord {
  font-size: 2em;
  display: inline;
}

#about p {
  display: inline;
  line-height: 1.4em;
}

.project {
  font-size: 1em;
  line-height: 1.4em;
  border-top: 1px solid black;
  padding: 4em 0;
  margin: 0 2em;
}

.project a {
  padding: 0;
}

h2 {
  padding-top: 1em;
  text-align: center;
}

.projectPic {
  width: 100%;
  text-align: center;
}

.project ul {
  list-style: none;
  padding: 0;
}

.project li {
  padding-bottom: 1em;
}

footer {
  color: black;
  text-align: center;
}

footer p {
  padding: .3em;
}





/*******************************************
*****************DESKTOP LAYOUT ************
********************************************/

@media (min-width: 1000px) {

  /* setting up the grid template used in the desktop layout */
  body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100vh auto auto auto auto auto;
    grid-template-areas:
      "title ."
      "aboutLeft aboutRight"
      "project1 project1"
      "project2 project2"
      "project3 project3"
      "footer footer";
    width: 80%;
    margin: auto;
    background-color: white;
  }

  #headline {
    grid-area: title;
    background-color: rgba(100,100,100,0.6);
  }

  #aboutLeft {
    grid-area: aboutLeft;
    background-color: rgb(202, 205, 209);
  }

  #about{
    grid-area: aboutLeft / aboutLeft / aboutRight / aboutRight;
    background-color: rgb(220, 220, 220);
  }

  #personal {
    grid-area: project1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "left rightTop"
      "left rightBottom";
  }

  #todo {
    grid-area: project2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "leftTop right"
      "leftBottom right";
  }

  #franker {
    grid-area: project3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "left rightTop"
      "left rightBottom";
  }

  .left {
    grid-area: left;
    background-color: rgb(202, 205, 209);
  }

  .leftTop {
    grid-area: leftTop;
    background-color: rgb(202, 205, 209);
  }

  .leftBottom {
    grid-area: leftBottom;
    background-color: rgb(202, 205, 209);
  }

  .right {
    grid-area: right;
  }

  .rightTop {
    grid-area: rightTop;
  }

  .rightBottom {
    grid-area: rightBottom;
  }

  .leftTop, .leftBottom, .rightTop, .rightBottom {
    margin: 0;
    align-items: end;
  }

  footer {
    grid-area: footer;
  }






  /* the rest of the desktop styling */

  #headline {
    color: black;
    justify-content: center;
    text-align: left;
  }

  #name {
    font-size: 2em;
    padding-left: 3%;
  }

  #jobTitle {
    font-size: 4em;
    padding-left: 3%;
  }

  .titleList {
    justify-content: flex-start;
  }

  #about {
    margin: 5% 10%;
    padding: 5% 5%;
    border: 1px solid black;
  }

  .imgContainer {
    width: 100%;
    height: 100%;
  }

  .projectPic {
    align-self: center;
    width: 88%;
    padding: 20% 3%;
  }

  .project a {
    align-self: center;
    width: 88%;
    padding: 3%;
  }

  .project {
    margin: 0;
    padding: 0;
    font-size: 1em;
  }

  .project h2 {
    padding: 20% 0 0;
  } 

  .project ul {
    padding: 5% 5%;
  }

}
