html {
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
  background-color: AliceBlue;
  max-width: 100%;
}

#bgImg {
  position: absolute;
  object-fit: cover;
  height: 100vh;
  min-width: 100vw;
  max-width: 100%;
  top: 0;
  right: 0;
  z-index: -1;
}

#headline, .project, #about {
  padding: 0 1em;
}

#headline {
  height: 95vh;
  text-align: center;
  font-size: 1.4em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 5vh;
  color: white;
}

#headline h1 {
  margin: 0.2em 0;
}

.titleList {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin: .2em;
}

.titleList li {
  padding: 2%;
}

.titleList img {
  width: 1.5em;
  height: 1.5em;
}

.titleList img:hover {
  opacity: 0.5;
}

nav {
  display: inline-grid;
  grid-template-columns: 50% 50%;
  justify-content: space-around;
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

nav li {
  background-color: royalblue;
  font-size: 2em;
  text-align: center;
  border-right: 1px solid black;
  padding: 0.6em;
}

nav li:hover {
  opacity: 0.5;
}

#about {
  font-size: 1.3em;
  margin: 2em 0;
}

.firstWord {
  font-size: 1.5em;
  display: inline;
}

#about p {
  display: inline;
  line-height: 1.4em;
}

.project {
  font-size: 1.4em;
}

h2 {
  padding-top: 1em;
}

.project {
  border-bottom: 0.5em solid royalblue;
}

.projectPic {
  width: 100%;
  text-align: center;
}

.project ul {
  list-style: none;
  padding: 0;
}

.project li {
  padding-bottom: 1em;
}

footer {
  color: white;
  background-color: royalblue;
  text-align: center;
}

footer p {
  padding: .3em;
}

@media (min-width: 1000px) {

  /* setting up the grid template used in the desktop layout */
  body {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100vh auto auto auto auto auto;
    grid-template-areas:
      "title ."
      "about about"
      "project1 project1"
      "project2 project2"
      "project3 project3"
      "footer footer";
    margin: 0 10%;
  }

  #headline {
    grid-area: title;
    background-color: rgba(100,100,100,0.6);
  }

  #about{
    grid-area: about;
  }

  #personal {
    grid-area: project1;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas:
      "left right"
      "left right";
  }

  #mweep {
    grid-area: project2;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas:
      "left right"
      "left right";
  }

  #franker {
    grid-area: project3;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas:
      "left right"
      "left right";
  }

  .left {
    grid-area: left;
  }

  .right {
    grid-area: right;
  }

  #mweep {
    grid-area: project2;
  }

  #franker {
    grid-area: project3;
  }

  footer {
    grid-area: footer;
  }

  /* the rest of the desktop styling */
  #headline {
    color: black;
    justify-content: center;
    text-align: left;
  }

  #name {
    font-size: 2em;
    padding-left: 3%;
  }

  #jobTitle {
    font-size: 4em;
    padding-left: 3%;
  }

  .titleList {
    justify-content: flex-start;
  }

}
